USE [master]
GO
/****** Object:  Database [CPS298 Gas App]    Script Date: 11/4/2025 3:12:25 PM ******/
CREATE DATABASE [CPS298 Gas App]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CPS298 Gas App', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CPS298 Gas App.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CPS298 Gas App_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CPS298 Gas App_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CPS298 Gas App].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CPS298 Gas App]
GO
/****** Object:  Table [dbo].[gas_history]    Script Date: 11/4/2025 3:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gas_history](
	[station_id] [int] NOT NULL,
	[priceRegular] [decimal](4, 2) NULL,
	[priceMidGrade] [decimal](4, 2) NULL,
	[pricePremium] [decimal](4, 2) NULL,
	[priceDiesel] [decimal](4, 2) NULL,
	[date_recorded] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gas_stations]    Script Date: 11/4/2025 3:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gas_stations](
	[station_id] [int] IDENTITY(1,1) NOT NULL,
	[address1] [varchar](30) NULL,
	[address2] [varchar](30) NULL,
	[city] [nchar](25) NULL,
	[state] [char](2) NULL,
	[zipcode] [varchar](10) NULL,
	[name] [varchar](30) NULL,
	[brand] [nchar](10) NULL,
	[priceRegular] [decimal](4, 2) NULL,
	[priceMidGrade] [decimal](4, 2) NULL,
	[pricePremium] [decimal](4, 2) NULL,
	[priceDiesel] [decimal](4, 2) NULL,
	[date_recorded] [date] NULL,
 CONSTRAINT [PK_CPS298 Gas Stations] PRIMARY KEY CLUSTERED 
(
	[station_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[gas_history] ([station_id], [priceRegular], [priceMidGrade], [pricePremium], [priceDiesel], [date_recorded]) VALUES (0, CAST(3.20 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(4.40 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(N'2025-10-14' AS Date))
INSERT [dbo].[gas_history] ([station_id], [priceRegular], [priceMidGrade], [pricePremium], [priceDiesel], [date_recorded]) VALUES (1, CAST(3.20 AS Decimal(4, 2)), NULL, CAST(4.71 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(N'2025-10-14' AS Date))
INSERT [dbo].[gas_history] ([station_id], [priceRegular], [priceMidGrade], [pricePremium], [priceDiesel], [date_recorded]) VALUES (2, CAST(3.20 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(4.30 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(N'2025-10-14' AS Date))
GO
SET IDENTITY_INSERT [dbo].[gas_stations] ON 

INSERT [dbo].[gas_stations] ([station_id], [address1], [address2], [city], [state], [zipcode], [name], [brand], [priceRegular], [priceMidGrade], [pricePremium], [priceDiesel], [date_recorded]) VALUES (0, N'4970 Washtenaw Avenue', NULL, N'Ypsilanti                ', N'MI', N'48108', N'Marathon Gas', N'marathon  ', CAST(3.20 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(4.40 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(N'2025-10-14' AS Date))
INSERT [dbo].[gas_stations] ([station_id], [address1], [address2], [city], [state], [zipcode], [name], [brand], [priceRegular], [priceMidGrade], [pricePremium], [priceDiesel], [date_recorded]) VALUES (1, N'4000 Washtenaw Avenu', NULL, N'Ann Arbor                ', N'MI', N'48108', N'Shell', N'shell     ', CAST(3.20 AS Decimal(4, 2)), NULL, CAST(4.71 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(N'2025-10-14' AS Date))
INSERT [dbo].[gas_stations] ([station_id], [address1], [address2], [city], [state], [zipcode], [name], [brand], [priceRegular], [priceMidGrade], [pricePremium], [priceDiesel], [date_recorded]) VALUES (2, N'4005 Washtenaw Avenue', NULL, N'Ann Arbor                ', N'MI', N'48108', N'Amoco', N'amoco     ', CAST(3.20 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(4.30 AS Decimal(4, 2)), CAST(3.80 AS Decimal(4, 2)), CAST(N'2025-10-14' AS Date))
GO
SET IDENTITY_INSERT [dbo].[gas_stations] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ADDRESS_UNIQUE]    Script Date: 11/4/2025 3:12:25 PM ******/
ALTER TABLE [dbo].[gas_stations] ADD  CONSTRAINT [UQ_ADDRESS_UNIQUE] UNIQUE NONCLUSTERED 
(
	[address1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[gas_stations] ADD  CONSTRAINT [DF_gas_stations_date_recorded]  DEFAULT (CONVERT([date],getdate())) FOR [date_recorded]
GO
ALTER TABLE [dbo].[gas_history]  WITH CHECK ADD  CONSTRAINT [FK_Gas_Price_History_CPS298_Gas_Stations] FOREIGN KEY([station_id])
REFERENCES [dbo].[gas_stations] ([station_id])
GO
ALTER TABLE [dbo].[gas_history] CHECK CONSTRAINT [FK_Gas_Price_History_CPS298_Gas_Stations]
GO
/****** Object:  Trigger [dbo].[trg_AfterGasPriceUpdate]    Script Date: 11/4/2025 3:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AfterGasPriceUpdate]
ON [dbo].[gas_stations]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    MERGE [Gas_history] AS target
    USING inserted AS source
    ON target.[station_id] = source.[station_id]
    WHEN MATCHED THEN
        UPDATE SET 
            target.[priceRegular] = source.[priceRegular],
            target.[priceMidGrade] = source.[priceMidGrade],
            target.[pricePremium] = source.[pricePremium],
            target.[priceDiesel] = source.[priceDiesel]
    WHEN NOT MATCHED THEN
        INSERT ([station_id], [priceRegular], [priceMidGrade], [pricePremium], [priceDiesel])
        VALUES (source.[station_id], source.[priceRegular], source.[priceMidGrade], source.[pricePremium], source.[priceDiesel]);
END;
GO
ALTER TABLE [dbo].[gas_stations] ENABLE TRIGGER [trg_AfterGasPriceUpdate]
GO
USE [master]
GO
